html, body {
  height: 100svh;
  color: #343C6A;
  background: #F5F7FA;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.gap {
  gap: 1rem;
}

.width-full {
  width: 100%;
}

a[role=button], button {
  color: darkblue;
  background-color: rgba(211, 211, 211, 0.15);
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}
